.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-embed-youtubevideo {
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

body {
  height: 100%;
  padding-left: 329px;
  background-color: #edeff2;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, 0.74);
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 15px;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #cf404d;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #000;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  background-color: #424242;
  font-family: Vollkorn, serif;
}

.brand-text {
  display: block;
  margin-top: -193px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: Vollkorn, serif;
  color: #000;
  font-size: 30px;
  line-height: 25px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.section {
  position: relative;
  padding: 63px 40px;
  background-color: #fff;
}

.section.section-gray {
  height: auto;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
}

.call-to-action-section {
  padding: 44px 40px;
  background-color: #cf404d;
  color: #fff;
}

.call-to-action-heading {
  margin-top: 3px;
  margin-bottom: 0px;
  font-weight: 400;
}

.align-right {
  text-align: right;
}

.hero-heading {
  margin-bottom: 19px;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 25px;
  color: #fff;
}

.hollow-button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 11px 20px;
  border: 2px solid #1db0fc;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #1db0fc;
  line-height: 21px;
  text-decoration: none;
}

.hollow-button:hover {
  border-color: #000;
  color: #000;
}

.hollow-button.white {
  border-color: #fff;
  color: #fff;
}

.hollow-button.white:hover {
  border-color: #2d3e4f;
  background-color: #2d3e4f;
  color: #fff;
}

.hollow-button.red {
  border-color: #cf404d;
  background-color: #cf404d;
  color: #fff;
}

.hollow-button.red:hover {
  background-color: transparent;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  font-family: Vollkorn, serif;
  color: #313131;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.section-subheading.center {
  font-family: Vollkorn, serif;
  color: hsla(0, 0%, 45.1%, 0.74);
  font-size: 19px;
  line-height: 30px;
  text-align: center;
}

.section-title-group {
  margin-bottom: 62px;
}

.form-field {
  min-height: 45px;
  margin-right: 1px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, 0.3);
  font-family: Vollkorn, serif;
}

.form-field:focus {
  box-shadow: 0 0 0 1px #2e80b6;
}

.form-field.text-area {
  min-height: 110px;
}

.form-wrapper.squeezed {
  margin-top: 90px;
  padding-right: 19%;
  padding-left: 19%;
}

.social-icon-link {
  padding: 3px;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #000;
}

.social-icon-link:hover {
  opacity: 0.66;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer.center {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #fff;
  text-align: center;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.link {
  display: block;
  margin-bottom: 10px;
  color: #cf404d;
  text-decoration: none;
}

.link:hover {
  color: #30ad64;
}

.grid-image {
  margin-bottom: 19px;
}

.hero-title-wrapper {
  position: relative;
  top: 40%;
  margin-bottom: 155px;
  text-align: center;
}

.left-navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 329px;
  height: 100%;
  background-color: #fff;
}

.nav-link {
  display: block;
  padding: 0px 0px 0px 20px;
  font-family: Vollkorn, serif;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #777;
}

.nav-link.w--current {
  padding-left: 20px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Vollkorn, serif;
  color: #000;
  text-align: left;
  text-transform: capitalize;
}

.nav-link.nav-link-2 {
  margin-left: 54px;
  padding-top: 0px;
  padding-bottom: 18px;
  font-size: 15px;
  line-height: 0px;
  font-style: italic;
  text-transform: none;
}

.nav-menu {
  float: none;
}

.logo-link {
  display: block;
  margin-top: 216px;
  margin-bottom: 50px;
  float: none;
  text-align: center;
}

.social-footer {
  position: absolute;
  left: 20px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 16px;
  background-color: #fff;
  color: #000;
  text-align: left;
}

.grid-fours {
  width: 25%;
  padding: 10px;
  float: left;
}

.banner {
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/2e9b0cb2.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/2e9b0cb2.jpg');
  background-position: 0% 0%, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.content {
  height: 100%;
  background-color: #fff;
}

.success-message {
  text-align: center;
}

.paragraph-form {
  margin-bottom: 0px;
  font-family: Vollkorn, serif;
}

.image {
  background-color: #000;
  color: #000;
}

.image-2 {
  background-color: transparent;
  text-align: left;
}

.image-3 {
  display: inline-block;
  background-color: rgba(255, 248, 248, 0);
  text-align: left;
}

.image-4 {
  background-color: #000;
}

.image-5 {
  background-color: #000;
}

.image-6 {
  background-color: transparent;
}

.image-7 {
  background-color: transparent;
}

.slider {
  overflow: visible;
  width: auto;
  height: auto;
  max-height: 40vw;
  -o-object-fit: fill;
  object-fit: fill;
}

.slide-nav {
  display: none;
}

.slide {
  overflow: visible;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-8 {
  display: block;
  max-height: 400px;
  padding-left: 165px;
  -o-object-fit: fill;
  object-fit: fill;
}

.slide-nav-2 {
  display: none;
}

.slider-2 {
  width: 900px;
  height: 500px;
  margin-top: -44px;
  background-color: #fff;
}

.image-9 {
  display: block;
  width: auto;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.icon-2 {
  color: rgba(0, 0, 0, 0.83);
}

.icon-3 {
  color: rgba(0, 0, 0, 0.83);
}

.image-10 {
  width: auto;
  max-width: 80%;
  margin-left: 60px;
  text-align: center;
}

.text-block {
  font-family: Vollkorn, serif;
  font-size: 35px;
}

.youtube {
  margin-top: 0px;
}

.text-block-2 {
  margin-top: 50px;
  font-family: Vollkorn, serif;
  line-height: 20px;
  text-align: center;
}

.text-block-3 {
  display: block;
  padding-right: 63px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  font-family: Vollkorn, serif;
  font-style: normal;
}

.text-block-4 {
  font-family: Vollkorn, serif;
  color: #000;
  font-style: normal;
}

.text-block-5 {
  margin-top: 40px;
  font-family: Vollkorn, serif;
  font-size: 25px;
}

.image-11 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  mix-blend-mode: normal;
}

.text-block-6 {
  margin-top: 140px;
  font-family: Vollkorn, serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 52px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.link-2 {
  color: rgba(0, 0, 0, 0.74);
}

.nav-link-3 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-family: Vollkorn, serif;
  font-size: 15px;
}

.image-12 {
  display: inline-block;
  width: 40%;
  height: 40%;
  text-align: left;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-7 {
  margin-top: 4px;
  padding-top: 0px;
  font-family: Vollkorn, serif;
  color: rgba(95, 95, 95, 0.74);
  text-align: center;
}

.body {
  background-color: #fff;
}

.image-13 {
  display: inline-block;
  width: 75%;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-14 {
  width: 75%;
  margin-top: 48px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-15 {
  margin-top: 48px;
}

.text-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Vollkorn, serif;
  color: rgba(85, 84, 84, 0.74);
}

.image-16 {
  margin-top: 30px;
}

.image-17 {
  margin-top: 30px;
}

.slider-3 {
  height: auto;
}

.slide-nav-3 {
  display: none;
}

.left-arrow {
  display: none;
}

.right-arrow {
  display: none;
}

.mask {
  background-color: #fff;
}

.slider-4 {
  height: auto;
}

.left-arrow-2 {
  display: none;
}

.right-arrow-2 {
  display: none;
}

.slide-nav-4 {
  display: none;
}

.mask3 {
  height: auto;
  max-height: none;
  min-height: 69vh;
  background-color: #fff;
}

.image-18 {
  display: inline-block;
  height: auto;
  max-height: none;
  text-align: left;
}

.image-19 {
  max-height: none;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: none;
  max-width: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slide-2 {
  max-height: none;
}

.link-block-3 {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid {
  display: none;
}

@media screen and (max-width: 991px) {
  body {
    margin-left: 0px;
    padding-left: 0px;
  }

  .hamburger-button {
    color: #fff;
  }

  .hamburger-button.w--open {
    background-color: #cf404d;
  }

  .brand-text {
    margin-top: 5px;
    padding-left: 8px;
  }

  .form-wrapper.squeezed {
    padding-right: 8%;
    padding-left: 8%;
  }

  .hero-title-wrapper {
    top: 40%;
  }

  .left-navigation {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    width: 100%;
    height: auto;
    float: none;
  }

  .nav-link {
    padding-left: 13px;
    text-align: left;
  }

  .nav-menu {
    background-color: #49647b;
  }

  .logo-link {
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    float: left;
  }

  .social-footer {
    position: absolute;
    display: inline-block;
  }

  .banner {
    height: 500px;
  }

  .icon {
    color: #000;
  }

  .image-8 {
    padding-left: 327px;
  }

  .mask3 {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 10px;
  }

  .brand-text {
    padding-left: 0px;
  }

  .section {
    padding-right: 10px;
    padding-left: 10px;
  }

  .section.section-gray {
    height: 172.561%;
  }

  .call-to-action-heading {
    margin-bottom: 13px;
    text-align: center;
  }

  .align-right {
    text-align: center;
  }

  .hero-heading {
    font-size: 37px;
  }

  .hero-title-wrapper {
    top: 35%;
  }

  .grid-fours {
    width: 33.333%;
  }

  .column-0-padding {
    margin-bottom: 15px;
    text-align: center;
  }

  .column-remove-padding {
    padding-right: 0px;
    padding-left: 0px;
  }

  .icon {
    color: #000;
  }

  .image-8 {
    padding-left: 140px;
  }

  .slider-2 {
    display: none;
    width: 450px;
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-4 {
    margin-top: 82px;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    margin-top: -100px;
    padding-top: 0px;
    padding-bottom: 53px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
  }

  .image-20 {
    display: inline-block;
  }
}

@media screen and (max-width: 479px) {
  .brand-text {
    padding-left: 0px;
  }

  .section.section-gray {
    height: 239.874359927547%;
  }

  .form-wrapper.squeezed {
    padding-right: 2%;
    padding-left: 2%;
  }

  .hero-title-wrapper {
    top: 28%;
  }

  .nav-link {
    margin-left: -12px;
    padding-left: 20px;
  }

  .nav-menu {
    background-color: #f3f3f3;
  }

  .banner {
    height: 450px;
  }

  .icon {
    color: #000;
  }

  .image-8 {
    padding-left: 7px;
  }

  .slider-2 {
    width: 300px;
    height: 200px;
    margin-left: auto;
  }

  .icon-3 {
    width: 50%;
  }

  .text-block-3 {
    margin-top: -44px;
    padding-right: 0px;
  }

  .text-block-6 {
    width: auto;
    font-size: 20px;
  }

  .nav-link-3 {
    padding-left: 8px;
  }

  .image-12 {
    display: block;
    width: auto;
    height: auto;
  }

  .div-block-2 {
    display: block;
  }

  .mask3 {
    min-height: auto;
  }

  .div-block-4 {
    max-height: 500px;
    margin-top: 98px;
  }

  .div-block-5 {
    width: auto;
  }

  .grid {
    margin-top: -140px;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_4f301aaa-e5af-04ee-5067-796558c3457c-8d33feb4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_47542f92-e4c8-566a-c0ce-2e7d8103be47-8d33feb4 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_4a117178-5c31-03cf-be27-d837ab8cef37-8d33feb4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-ef4b9cf9-1ee6-3800-70d0-26f75755ad04-8d33feb4 {
    -ms-grid-row: span 2;
    grid-row-start: span 2;
    -ms-grid-row-span: 2;
    grid-row-end: span 2;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-fc9a6894-ecb1-4f87-91a0-133b038d08fe-8d33feb4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_75807838-b82f-3371-e4ff-f35fcc7223c6-8d33feb4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }

  #w-node-_01c0558f-41ea-3cc1-922c-4f7540788b03-8d33feb4 {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-f7284b2c-7801-5500-d39d-b67193929338-8d33feb4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }

  #w-node-_390f7d75-6ea8-bc83-a6d5-5b8e8077cab4-8d33feb4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_33eebabe-4e7b-d1a4-50f3-f3ec47d712e7-8d33feb4 {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  #w-node-_6f15fb58-bcb1-7705-f4c0-390448c1585d-8d33feb4 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

